*.pyc
\#*\#
.\#*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# meow data
src/meow/meow_triggers/*
src/meow/runner_data/*
src/meow/runner_output/*
src/meow/runner_processing/*

# Compiled files
*.so
*.so.dSYM
a.out

# Ignore the $BONE_DATA symlinks, as they're only there for convinience in vscode
data_*